<h1>Listing mates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mates.each do |mate| %>
  <tr>
    <td><%= mate.name %></td>
    <td><%= mate.user %></td>
    <td><%= link_to 'Show', mate %></td>
    <td><%= link_to 'Edit', edit_mate_path(mate) %></td>
    <td><%= link_to 'Destroy', mate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mate', new_mate_path %>
