<h1>Listing stuffs</h1>

<table>
  <tr>
    <th>Note</th>
    <th>Price</th>
    <th>Commodity</th>
    <th>Mate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stuffs.each do |stuff| %>
  <tr>
    <td><%= stuff.note %></td>
    <td><%= stuff.price %></td>
    <td><%= stuff.commodity %></td>
    <td><%= stuff.mate %></td>
    <td><%= link_to 'Show', stuff %></td>
    <td><%= link_to 'Edit', edit_stuff_path(stuff) %></td>
    <td><%= link_to 'Destroy', stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stuff', new_stuff_path %>
